@import '~bootstrap/dist/css/bootstrap.min.css';

:root {
    --header-height: 60px;
    --layout-height: calc(100% - 60px);
    --thin-border: thin solid #e5e5e5;
}

.contentRow {
    height: var(--layout-height);
    flex-wrap: nowrap;
}

.content {
    width: 100%;
    padding: 1.5rem;
    padding-right: 0;
    overflow: auto;
    background-color: #f8fbff;
}

.content > div {
    margin-right: 1.5rem;
    width: fit-content;
}

.content > div > p {
    width: 400px;
}

.drawer {
    top: var(--header-height) !important;
    height: var(--layout-height);
}

.drawer .paper,
.drawer .backdrop {
    top: var(--header-height) !important;
    height: var(--layout-height);
}

.sorting {
    height: 200px;
}

.heapSort,
.mergeSort,
.radixSort {
    position: relative;
    min-height: 300px;
}

.huffmanTree {
    position: relative;
    height: 500px;
}

.numGrid {
    font-weight: 600;
    font-size: 1rem;
    min-height: 40px;
}

.numGrid .cell {
    width: 52px;
    height: 42px;
    text-align: center;
    border-radius: 12px;
    margin-right: 8px;
    padding-top: 8px;
    border: 2px solid #636363;
}

.alphaGrid .cell {
    width: 46px;
    height: 40px;
    padding-top: 6px;
}

.drawGraph {
    width: max-content;
    height: max-content;
}

.resizable {
    width: 500px;
    min-width: 500px;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    resize: both;
    overflow: auto;
    position: relative;
}

@media (min-width: 768px) {
    .resizable {
        width: 700px;
        min-width: 700px;
        height: 500px;
    }

    .content > div > p {
        width: auto;
    }
}

.algorithm {
    padding: 5px 0;
    min-width: 400px;
    max-width: fit-content;
    background-color: #eee;
    border-radius: 8px;
}

.algorithm pre {
    margin: 8px 0;
    padding: 4px 0;
}

.currentStep {
    background-color: orange;
}

.cost {
    width: 32px;
    height: 24px;
    background: transparent;
    border: 0;
    padding: 0;
}

.cost:focus {
    background: lightblue;
    outline: none;
}

#visited div {
    background-color: orange;
}

#dfsStack div,
#bfsQueue div {
    background-color: #87cefa;
}
