@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
  --header-height: 60px;
  --layout-height: calc(100% - 60px);
  --thin-border: thin solid #e5e5e5;
}

.contentRow {
  height: var(--layout-height);
  flex-wrap: nowrap;
  font-size: 15px;
}

.content {
  height: 100%;
  width: 100%;
  overflow-x: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.02);
}

.drawer {
  top: var(--header-height) !important;
  height: var(--layout-height);
}

.drawer .paper,
.drawer .backdrop {
  top: var(--header-height) !important;
  height: var(--layout-height);
}

.heapSort {
  position: relative;
  height: 300px;
}

.mergeSort {
  height: 300px;
}

.numGrid {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: max-content;
}

.numGrid .cell {
  width: 3.5rem;
  min-height: 3rem;
  max-height: fit-content;
  text-align: center;
  border-radius: 4px;
  margin-right: 8px;
  padding-top: 8px;
  display: inline;
}

.alphaGrid .cell {
  width: 3rem;
  min-height: 2.5rem;
  padding-top: 6px;
}

.drawGraph {
  width: max-content;
  height: max-content;
  margin-top: 2rem;
}

.resizable {
  border: thin solid;
  margin: 1rem 0;
  min-width: 700px;
  width: 700px;
  height: 500px;
  resize: both;
  overflow: auto;
  position: relative;
}

.algorithm {
  margin: 20px 0;
  padding: 5px 0;
  width: 400px;
  background-color: #eee;
  border-radius: 8px;
}

.algorithm pre {
  margin: 8px 0;
  padding: 4px 0;
}

.currentStep {
  background-color: orange;
}

.cost {
  background-color: whitesmoke;
  width: 32px;
  height: 24px;
}

.cost:focus {
  border-color: orangered;
}

.queue {
  height: 50px;
}

.queue h6 {
  width: 70px;
  text-align: right;
}

#visited div {
  background-color: orange;
}
