@import '~bootstrap/dist/css/bootstrap.min.css';

:root {
  --header-height: 60px;
  --layout-height: calc(100% - 60px);
  --thin-border: thin solid #e5e5e5;
}

.contentRow {
  height: var(--layout-height);
  flex-wrap: nowrap;
}

.content {
  width: 100%;
  padding: 1.5rem;
  padding-right: 0;
  overflow: auto;
  background-color: #f8fbff;
}

.content > p,
.content > div {
  margin-right: 1.5rem;
}

.drawer {
  top: var(--header-height) !important;
  height: var(--layout-height);
}

.drawer .paper,
.drawer .backdrop {
  top: var(--header-height) !important;
  height: var(--layout-height);
}

.sorting,
.mergeSort {
  width: max-content;
  height: 150px;
}

.heapSort,
.mergeSort,
.radixSort {
    position: relative;
    min-height: 300px;
}

.huffmanTree {
  position: relative;
  height: 600px;
}

.numGrid {
  font-weight: 600;
  font-size: 1rem;
  padding-top: 0.75rem;
  width: max-content;
}

.numGrid .cell {
  width: 3.5rem;
  min-height: 2.75rem;
  max-height: fit-content;
  text-align: center;
  border-radius: 12px;
  margin-right: 8px;
  padding-top: 8px;
  display: inline;
}

.alphaGrid .cell {
  width: 3rem;
  min-height: 2.5rem;
  padding-top: 6px;
}

.drawGraph {
  width: max-content;
  height: max-content;
  margin-top: 2rem;
}

.resizable {
  width: 500px;
  min-width: 500px;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  resize: both;
  overflow: auto;
  position: relative;
}

@media (min-width: 768px) {
  .resizable {
    width: 700px;
    min-width: 700px;
    height: 500px;
  }
}

.algorithm {
  padding: 5px 0;
  min-width: 400px;
  max-width: fit-content;
  background-color: #eee;
  border-radius: 8px;
}

.algorithm pre {
  margin: 8px 0;
  padding: 4px 0;
}

.currentStep {
  background-color: orange;
}

.cost {
  width: 32px;
  height: 24px;
  background: transparent;
  border: 0;
  padding: 0;
}

.cost:focus {
  background: lightblue;
  outline: none
}

#visited div {
  background-color: orange;
}

#dfsStack div,
#bfsQueue div {
  background-color: #87cefa;
}
