:root {
    --header-height: 60px;
    --layout-height: calc(100% - 60px);
    --thin-border: thin solid #e5e5e5;
}

.contentRow {
    height: var(--layout-height);
    flex-wrap: nowrap;
}

.content {
    width: fit-content;
    padding: 1.5rem;
    padding-right: 0;
    background-color: #f8fbff;
}

.content > div {
    margin-right: 1.5rem;
}

.content > div > div > ul {
    margin-top: 0;
}

.content > div > p,
.content > div > div > ul {
    width: calc(100vw - 3rem);
}

@media (min-width: 900px) {
    .content > div > p,
    .content > div > div > ul {
        width: auto;
    }
}

.drawer {
    top: var(--header-height) !important;
    height: var(--layout-height);
}

.drawer .paper,
.drawer .backdrop {
    top: var(--header-height) !important;
    height: var(--layout-height);
}

.sorting {
    height: 200px;
    position: relative;
}

.heapSort,
.mergeSort,
.radixSort {
    position: relative;
    min-height: 300px;
}

.huffmanTree {
    position: relative;
    height: 500px;
}

.alphaGrid {
    min-height: 36px;
}

.alphaGrid .cell {
    width: 42px;
    height: 36px;
    margin-right: 8px;
    border-radius: 8px;
    border: 1.5px solid #636363;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.numGrid .cell {
    width: 52px;
    height: 42px;
}

.drawGraph {
    width: max-content;
    height: max-content;
}

.resizable {
    width: 500px;
    height: 400px;
    min-width: 500px;
    min-height: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    resize: both;
    overflow: hidden;
    position: relative;
}

@media (min-width: 600px) {
    .resizable {
        width: 700px;
        height: 500px;
        min-width: 700px;
        min-height: 500px;
    }
}

.algorithm {
    padding: 8px 0;
    font-size: 14px;
    background-color: #eee;
    border-radius: 8px;
    width: fit-content;
}

.algorithm pre {
    margin: 8px 0;
    padding: 4px 24px;
}

.currentStep {
    background-color: orange;
}

.cost {
    width: 32px;
    height: 24px;
    background: transparent;
    border: 0;
    padding: 0;
    font-size: 1rem;
}

.cost:focus {
    background: lightblue;
    outline: none;
}

#stack .cell,
#queue .cell {
    background-color: #87cefa;
}

#path .cell,
#sorted .cell {
    background-color: orange;
}
