.header {
    height: var(--header-height);
    align-items: center;
    padding: 0 1.5rem;
    justify-content: space-between;
    border-bottom: var(--thin-border);
}

.heading {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
}

.menuIcon {
    font-size: 2rem;
    margin-right: 0.75rem;
    color: #1976d2;
}
