.header {
    height: var(--header-height);
    align-items: center;
    padding: 0 1rem;
    justify-content: space-between;
    border-bottom: var(--thin-border);
}

.heading {
    margin-bottom: 0.1rem;
    font-size: 1.2rem;
}

.menuIcon {
    font-size: 2rem !important;
    margin-right: 0.75rem;
    color: #1976d2;
}

.logo {
    margin-left: -0.4rem;
}